* {
    margin: 0;
    padding: 0;
}
[v-cloak] {
    display: none;
}

div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body {
    user-select: none;
}

input:focus {
    outline: none;
    border: none;
}

.number-of-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.number-of-lines--2 {
    display: -webkit-box;
    overflow: hidden;

    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
.number-of-lines--3 {
    display: -webkit-box;
    overflow: hidden;

    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

#app {
    margin: 0 auto;
    height: 100vh;
    background-color: #eee;
    position: relative;
}

.window {
    background-color: #2a2c30;
    flex-direction: row;
    height: 30px;
    justify-content: space-between;
    align-items: stretch;
}

.window .title {
    color: #e2e2e2;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    flex: 1;
    -webkit-app-region: drag;
}

.window .icon {
    color: #e2e2e2;
    padding: 0 10px;
    line-height: 30px;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2c30;
}

.header .left {
    flex-direction: row;
    align-items: center;
}
.header .right {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.header .center {
    flex: 1;
    height: 100%;
    -webkit-app-region: drag;
}

.header .menu {
    color: #999;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    position: relative;
}

.header .menu.hover {
    border-bottom: 2px solid #eee;
    color: #eee;
}

.header .menu .num {
    position: absolute;
    right: 4px;
    top: 10px;
    background-color: #e60012;
    color: #fff;
    border-radius: 10px;
    height: 16px;
    min-width: 16px;
    padding: 0 2px;
    text-align: center;
    line-height: 16px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: normal;
}

.header .user {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.header .user .img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.header .user .info {
    position: absolute;
    z-index: 2;
    top: 32px;
    left: -85px;
    right: -15px;
    background-color: #666;
    border-radius: 8px;
    padding: 10px;
}

.header .user .info .username {
    font-size: 20px;
    text-align: center;
    color: #eee;
}

.header .user .info .mobile {
    font-size: 12px;
    text-align: center;
    color: #eee;
    margin-top: 6px;
}

.header .user .info .btn {
    background-color: #333;
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
    border-radius: 35px;
    color: #eee;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
}

.header input {
    width: 200px;
    font-size: 14px;
    background-color: #555;
    border: none;
    padding: 5px 20px;
    color: #e2e2e2;
    border-radius: 80px;
}

#app .main {
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    align-items: stretch;
    background-color: #404040;
    padding: 10px 0;
}

.cates {
    width: 90px;
    margin-left: 10px;
    border-radius: 10px;
    overflow-y: auto;
    background-color: #535356;
}

.cates::-webkit-scrollbar {
    display: none;
}

.cates .item {
    padding: 8px 4px;
    text-align: center;
    font-size: 14px;
    color: #eee;
}

.cates .item.hover {
    background-color: #2a2c30;
}

.filter {
    padding: 0 10px;
    align-self: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter .radio {
    display: flex;
    flex-direction: row;
    background-color: #535356;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}

.filter .radio .item {
    padding: 5px 10px;
    color: #fff;
    font-size: 13px;
}

.filter .radio .item.hover {
    background-color: #2a2c30;
}

.malls {
    flex: 1;
    overflow-y: auto;
    display: block;
}

.malls::-webkit-scrollbar {
    display: none;
}

#app .main .content {
    width: 450px;
}

.mall-item {
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    margin: 0 10px 10px 10px;
    background-color: #2c2a2d;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.mall-item:nth-child(1) {
    /* margin-top: 10px; */
}

.mall-item .ad-image {
    position: relative;
    width: 130px;
    height: 80px;
    margin-right: 5px;
    flex-shrink: 0;
}

.mall-item img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 130px;
    height: 80px;
}

.mall-item .ad-image .play-bg {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.mall-item .ad-image .play {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -7px;
}

.mall-item .right {
    height: 80px;
    justify-content: space-between;
    flex: 1;
}

.mall-item .right .title {
    font-size: 14px;
    height: 16px;
    font-weight: bold;
    color: #eee;
    line-height: 18px;
    overflow: hidden;
}

.mall-item .right .num {
    font-size: 12px;
    height: 14px;
    color: #eee;
    line-height: 14px;
}

.mall-item .right .bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mall-item .right .price {
    color: #e60012;
    font-size: 18px;
    font-weight: bold;
}

.mall-item .right .price-coupon {
    margin-left: 8px;
    color: #e60012;
    font-size: 16px;
    font-weight: bold;
    flex: 1;
}

.mall-item .right .price-old {
    margin-left: 8px;
    color: #999;
    font-size: 12px;
    flex: 1;
    text-decoration: line-through;
    margin-top: 4px;
}

.mall-item .right .add {
    padding: 5px 10px;
    background-color: #444;
    color: #eee;
    border-radius: 15px;
    font-size: 12px;
}

.mall-item .right .action {
    flex-direction: row;
    align-items: center;
}

.mall-item .right .action .btn {
    padding: 5px 10px;
    background-color: #444;
    color: #eee;
    border-radius: 30px;
    font-size: 12px;
}

.mall-item .right .action .num {
    color: #eee;
    width: 30px;
    text-align: center;
}
.mall-item .coupon {
    position: absolute;
    right: -30px;
    top: 8px;
    height: 32px;
    width: 100px;
    text-align: center;
    line-height: 32px;
    background-color: #e60012;
    color: #fff;
    font-size: 12px;
    transform: rotate(45deg);
}
.mall-item .tips {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    flex-direction: row;
    align-items: stretch;
}
.mall-item .wave {
    padding: 8px;
    background-color: rgb(6, 105, 6);
    color: #fff;
    font-size: 12px;
}
.mall-item .wave.add {
    background-color: red;
}
.mall-item .low {
    padding: 8px;
    background-color: rgb(6, 105, 6);
    color: #fff;
    font-size: 12px;
    background-color: rgb(0, 156, 224);
}
.mall-item .low.hover {
    background-color: rgb(226, 115, 0);
}
.cart {
    width: 450px;
    flex: 1;
    height: 1px;
}

.cart .scroll {
    overflow-y: auto;
    height: 1px;
    flex: 1;
}

.cart .scroll::-webkit-scrollbar {
    display: none;
}

.cart .head {
    padding: 10px 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart .head .time {
    font-size: 24px;
    color: #eee;
    font-weight: bold;
}

.cart .head .timer {
    font-size: 20px;
    font-weight: bold;
    color: #eee;
}

.cart-submit {
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-submit .price {
    flex: 1;
    text-align: right;
    font-size: 24px;
    color: #e60012;
}

.cart-submit .btn {
    background-color: #e60012;
    margin-left: 15px;
    padding: 8px 20px;
    border-radius: 35px;
    color: #eee;
}

.mall-detail {
    width: 430px;
    height: 100%;
    position: relative;
    background-color: #2c2a2d;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
}

.mall-detail .close {
    position: absolute;
    z-index: 2;
    left: 5px;
    top: 5px;
    border-radius: 25px;
    padding: 6px 12px;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
}

.mall-detail .scroll {
    display: unset;
    overflow-y: auto;
}

.mall-detail .scroll::-webkit-scrollbar {
    display: none;
}

.mall-detail .swiper-container {
    height: 430px;
    width: 100%;
    display: block;
}

.mall-detail .swiper-container .swiper-pagination {
    flex-direction: row;
    justify-content: center;
}

.mall-detail .swiper-container .swiper-wrapper {
    display: flex;
    flex-direction: row;
}

.mall-detail .swiper-container .mall-detail .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mall-detail .swiper-container img {
    height: 450px;
    width: 100%;
}

.mall-detail .title {
    font-size: 20px;
    color: #eee;
    padding: 5px 10px;
}

.mall-detail .price {
    font-size: 28px;
    color: #e60012;
    padding: 5px 10px;
    flex-direction: row;
    align-items: center;
}

.mall-detail .price .old {
    font-size: 20px;
    color: #eee;
    text-decoration: line-through;
    margin-left: 10px;
}

.mall-detail .line {
    height: 5px;
    background-color: #404040;
}

.mall-detail .option {
    padding: 5px 10px;
    font-size: 16px;
    color: #eee;
}

.mall-detail .ve-line {
    margin-top: 16px;
}

.mall-detail .low-price {
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.mall-detail .low-price span {
    font-size: 14px;
    color: #e2e2e2;
}
.mall-detail .low-price i {
    margin-right: 10px;
    font-size: 20px;
    color: #e2e2e2;
}
.mall-detail .low-price input[type="number"] {
    font-size: 14px;
    color: #e2e2e2;
    background-color: transparent;
    width: 50px;
    border: none;
    padding: 5px 10px;
    margin: 0 6px;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
}

.mall-detail .low-price input[type="number"]::-webkit-outer-spin-button,
.mall-detail .low-price input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.mall-detail .nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.mall-detail .nav .item {
    padding: 8px 6px;
    color: #eee;
    border-bottom: 2px solid transparent;
}

.mall-detail .nav .item.hover {
    font-weight: bold;
    border-bottom: 2px solid #eee;
}

.mall-detail .detail {
    background-color: #f5f5f5;
}
.mall-detail .detail table {
    padding: 0 10px;
}
.mall-detail .detail table td {
    padding: 6px;
    font-size: 14px;
    color: #2a2c30;
}

.mall-detail .detail img {
    width: 430px;
}
.mall-detail .log {
}

.mall-detail .log .item {
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
}

.mall-detail .log .item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    flex-shrink: 0;
}

.mall-detail .log .item .info {
    height: 46px;
    justify-content: space-between;
    flex: 1;
}

.mall-detail .log .item .name {
    font-size: 16px;
    font-weight: bold;
    color: #eee;
}

.mall-detail .log .item .time {
    font-size: 12px;
    color: #eee;
}

.mall-detail .log .item .num {
    color: #e60012;
    font-size: 14px;
}
.mall-detail .license {
    background-color: #f5f5f5;
}
.mall-detail .license img {
    background-color: #f5f5f5;
    width: 430px;
}

.login {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #404040;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.login .nav {
    flex-direction: row;
    align-items: center;
    width: 290px;
    background-color: #2f2f2f;
    border-radius: 20px;
    overflow: hidden;
}

.login .nav span {
    flex: 1;
    padding: 8px 5px;
    font-size: 16px;
    color: #eee;
    text-align: center;
}

.login .nav span.hover {
    background-color: #999;
}

.login .tab {
    margin-top: 30px;
    height: 100px;
    align-items: center;
}

.login input {
    width: 270px;
    font-size: 14px;
    background-color: #555;
    border: none;
    padding: 8px 10px;
    color: #e2e2e2;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
}

.login .code {
    flex-direction: row;
    width: 290px;
    background-color: #555;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0;
}

.login .code input {
    width: auto;
    flex: 1;
    margin: 0;
}

.login .code .get {
    font-size: 12px;
    color: #eee;
    padding: 0 10px;
}

.pop-video {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.pop-video video {
    width: 800px;
    background-color: #000;
}

.toast {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 45%;
    transition: all 0.5s;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border-radius: 5px;
    color: #eee;
    background: rgba(17, 17, 17, 0.9);
    min-height: 45px;
    line-height: 45px;
    padding: 0 15px;
    max-width: 300px;
}

.update {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 240px;
    background-color: #2c2a2d;
    border-radius: 10px;
    overflow: hidden;
}
.update .title {
    padding: 10px;
    background-color: #1d1d1d;
    text-align: center;
    font-size: 16px;
    color: #eee;
}
.update .name {
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: #eee;
    margin-top: 10px;
}
.update .content {
    padding: 14px 20px;
    font-size: 14px;
    color: #eee;
    white-space: pre-line;
    line-height: 1.5;
}
.update .button {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
}

.update .button .close {
    font-size: 12px;
    color: #eee;
}

.update .button .open {
    font-size: 14px;
    background-color: #444;
    color: #eee;
    padding: 5px 12px;
    border-radius: 30px;
    margin-left: 16px;
}

.order {
    width: 450px;
    height: 100%;
    position: relative;
    padding: 0 10px;
}
.order .close {
    position: absolute;
    z-index: 2;
    left: 5px;
    top: 5px;
    border-radius: 25px;
    padding: 6px 12px;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
}

.order .scroll {
    display: unset;
    overflow-y: auto;
}

.order .scroll::-webkit-scrollbar {
    display: none;
}
.order .tip {
    font-size: 24px;
    color: #eee;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}
.order .empty {
    background-color: #2c2a2d;
    border-radius: 10px;
    padding: 50px 15px;
    font-size: 16px;
    color: #eee;
    align-items: center;
    justify-content: center;
}
.order .item {
    background-color: #2c2a2d;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
}
.order .group div:nth-child(2) {
    margin-top: 0;
}
.order .item .head {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #1d1d1d;
}
.order .item .head .date {
    font-size: 14px;
    color: #eee;
}
.order .item .head .code {
    font-size: 16px;
    color: #eee;
}
.order .item .goods {
    flex-direction: row;
    align-items: center;
    margin: 0 15px;
    border-top: 1px solid #1d1d1d;
    padding: 10px 0;
}
.order .item .goods:nth-child(2) {
    border-top: none;
}
.order .item .goods img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    flex-shrink: 0;
}
.order .item .goods .info {
    flex: 1;
    height: 74px;
    justify-content: space-between;
}
.order .item .goods .name {
    font-size: 14px;
    font-weight: bold;
    color: #eee;
}
.order .item .goods .bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.order .item .goods .price {
    font-size: 18px;
    font-weight: bold;
    color: #e60012;
    flex-direction: row;
    align-items: flex-end;
}
.order .item .goods .price span {
    font-size: 14px;
    color: #eee;
    text-decoration: line-through;
    margin-left: 10px;
    margin-bottom: 2px;
    font-weight: normal;
}
.order .item .goods .num {
    color: #eee;
    font-size: 14px;
}

.order .item .count {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
    border-top: 1px solid #1d1d1d;
    padding: 10px 0;
    color: #e2e2e2;
}
.order .item .count .coupon {
    font-size: 14px;
    margin-right: 10px;
}
.order .item .count .price {
    font-size: 14px;
}
.order .item .count .price span {
    font-size: 18px;
    color: #e60012;
    font-weight: bold;
}

.store-root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    align-items: center;
}

.store {
    width: 800px;
    height: 600px;
    background-color: #2c2a2d;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    box-shadow: 0px 0px 10px #000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-600px);
    -webkit-app-region: no-drag;
}

.store.show {
    transform: translateY(0);
}

.store #amap {
    width: 500px;
    height: 600px;
    background-color: rgb(26, 35, 44);
    flex-shrink: 0;
}
.store .city {
    position: absolute;
    left: 10px;
    top: 10px;
    align-items: flex-start;
    z-index: 1;
}
.store .city .name {
    background-color: #2c2a2d;
    padding: 0 12px;
    align-items: center;
    color: #e2e2e2;
    height: 28px;
    font-size: 14px;
    border-radius: 14px;
    flex-direction: row;
}
.store .city .name span {
    color: #7b8390;
    margin-left: 5px;
}
.store .city .select {
    margin-top: 6px;
    background-color: #2c2a2d;
    width: 254px;
    max-height: 480px;
}
.store .city .select input {
    width: calc(100% - 32px);
    border-radius: 20px;
    background-color: #555;
    border: none;
    height: 28px;
    padding: 0 20px;
    color: #e2e2e2;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 10px 16px 0 16px;
}
.store .city .select .level-1 {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 16px 10px 16px;
}
.store .city .select .level-1 .item {
    padding: 4px 6px;
    font-size: 12px;
    border: 1px solid#e2e2e2;
    color: #e2e2e2;
    margin-top: 6px;
    margin-right: 6px;
}
.store .city .select .level-1 .item.hover {
    background-color: #e2e2e2;
    color: #2c2a2d;
}
.store .city .select .level-2 {
    flex: 1;
    overflow-y: auto;
    background-color: #353434;
    padding: 0 16px;
}
.store .city .select .level-2 .item {
    padding: 8px 0;
    font-size: 14px;
    color: #e2e2e2;
}
.store .city .select .level-2::-webkit-scrollbar {
    display: none;
}
.store .tips {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 500px;
    padding: 4px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #e2e2e2;
    font-size: 12px;
}
.store .position {
    position: absolute;
    left: 230px;
    top: 260px;
    width: 40px;
    height: 40px;
}
.store .right {
    flex: 1;
}

.store .nav {
    flex-direction: row;
    background-color: #333;
}

.store .nav .item {
    flex: 1;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #eee;
}
.store .nav .item.hover {
    background-color: #2c2a2d;
}

.store .my {
    padding-top: 10px;
}

.store .content {
    height: 1px;
    flex: 1;
    position: relative;
}
.store .content input {
    width: calc(100% - 32px);
    border-radius: 20px;
    margin: 0;
    background-color: #555;
    border: none;
    height: 28px;
    padding: 0 20px;
    color: #e2e2e2;
    box-sizing: border-box;
    margin: 10px 16px;
}

.store .pos .add-list {
    position: absolute;
    left: 16px;
    top: 50px;
    right: 16px;
    max-height: 300px;
    background-color: #333;
    overflow-y: auto;
    z-index: 1;
    border-radius: 10px;
}
.store .pos .add-list::-webkit-scrollbar {
    display: none;
}
.store .pos .add-list .item {
    padding: 8px 20px;
    border-top: 1px solid #2c2a2d;
}
.store .pos .add-list .item:nth-child(1) {
    border-top: none;
}
.store .pos .add-list .item .name {
    font-size: 16px;
    color: #e2e2e2;
}
.store .pos .add-list .item .address {
    font-size: 12px;
    color: #e2e2e2;
    margin-top: 4px;
}

.store .btns {
    flex-direction: row;
    justify-content: flex-end;
}

.store .btns .btn {
    padding: 16px;
    font-size: 14px;
    background-color: #555;
    margin-left: 10px;
    color: #2c2a2d;
}

.store .btns .btn.cancel {
    background-color: transparent;
    color: #e2e2e2;
}
.store .btns .btn.disable {
    color: #999;
}
.store .btns .btn.hover {
    color: #e2e2e2;
}

.store .store-list {
    flex: 1;
    overflow-y: auto;
}
.store .store-list::-webkit-scrollbar {
    display: none;
}

.store .store-list .item {
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #333;
    padding: 10px;
    position: relative;
}
.store .store-list .item.hover {
    background-color: #555;
}
.store .store-list .item:nth-child(1) {
    border-top: none;
}

.store .store-list .item .tip {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    width: 80px;
    padding: 4px 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #e2e2e2;
    font-size: 12px;
    text-align: center;
}

.store .store-list .item img {
    width: 80px;
    height: 60px;
    flex-shrink: 0;
}

.store .store-list .item .right {
    height: 56px;
    justify-content: space-between;
    flex: 1;
    margin-left: 8px;
    width: 1px;
}

.store .store-list .item .name {
    font-size: 14px;
    color: #e2e2e2;
}
.store .store-list .item .address {
    font-size: 12px;
    color: #e2e2e2;
}

.setting {
    width: 450px;
    height: 100%;
    position: relative;
    padding: 0 10px;
}
.setting .scroll {
    display: unset;
    overflow-y: auto;
}

.setting .scroll::-webkit-scrollbar {
    display: none;
}
.setting .group {
    background-color: #2c2a2d;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
}
.setting .group .title {
    padding: 10px 15px;
    background-color: #1d1d1d;
    color: #e2e2e2;
}
.setting .group .item {
    flex-direction: row;
    align-items: center;
    margin: 0 15px;
    padding: 10px 0;
}
.setting .group .item .name {
    font-size: 14px;
    color: #e2e2e2;
    width: 60px;
    flex-shrink: 0;
}
.setting .group .item .value {
    width: 1px;
    flex: 1;
    background-color: #555;
    padding: 8px 10px;
    border: none;
    color: #e2e2e2;
    border-radius: 4px;
    font-size: 14px;
}

.setting .group .item .store-info {
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.setting .group .item .store-info .img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    flex-shrink: 0;
    margin-right: 15px;
}

.setting .group .item .store-info .right {
    flex: 1;
}

.setting .group .item .store-info .store-name {
    color: #eee;
    font-size: 18px;
    font-weight: bold;
}

.setting .group .item .store-info .store-name span {
    color: #7b8390;
    margin-left: 10px;
}
.setting .group .item .store-info .tel {
    color: #eee;
    font-size: 14px;
}

.about {
    width: 430px;
    margin: 0 10px;
    padding: 50px 10px;
    background-color: #2c2a2d;
    border-radius: 10px;
    color: #e2e2e2;
}
.about .scroll {
    display: unset;
    overflow-y: auto;
}

.about .scroll::-webkit-scrollbar {
    display: none;
}
.about .name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.about .version {
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 50px;
}
.about .part {
    font-size: 12px;
    line-height: 2;
}
.about .link {
    color: #7b8390;
    cursor: pointer;
}

.coupon-comp {
    width: 430px;
    /* margin: 0 10px; */
    border-radius: 10px;
    color: #e2e2e2;
    display: unset;
    overflow-y: auto;
}
.coupon-comp::-webkit-scrollbar {
    display: none;
}
.coupon-comp .item {
    flex-direction: row;
    align-items: center;
    background-color: #2c2a2d;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    /* border-top: 1px solid #1d1d1d; */
}
.coupon-comp .item:nth-child(1) {
    /* border-top: none; */
    margin-top: none;
}
.coupon-comp .item img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.coupon-comp .item .center {
    flex: 1;
}
.coupon-comp .item .product-name {
    font-size: 14px;
    font-weight: bold;
}
.coupon-comp .item .product-price {
    font-size: 14px;
    margin-top: 6px;
}
.coupon-comp .item .product-coupon {
    font-size: 14px;
    margin-top: 4px;
    color: #e60012;
}

.coupon-comp .item .right {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 8px;
    flex-shrink: 0;
    /* background-image: linear-gradient(to bottom right, #f56fa0f7, #335b9e);
    background-image: linear-gradient(to bottom right, #4839849c, #142135); */
    background-color: #9a3434;
    background-image: linear-gradient(to bottom right, #dc4040f7, #4a1313);
}
.coupon-comp .item .price {
    font-size: 12px;
    font-weight: bold;
    flex-direction: row;
    align-items: flex-end;
}
.coupon-comp .item .price span {
    font-size: 38px;
    margin-bottom: -6px;
}
.coupon-comp .item .limit {
    font-size: 12px;
    margin-top: 12px;
    padding: 4px 10px;
    background-color: #2c2a2d;
    color: #e2e2e2;
    border-radius: 18px;
}

.verify-code {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.verify-code > div {
    width: 610px;
    background-color: #2c2a2d;
    border-radius: 10px;
    overflow: hidden;
}
.verify-code .title {
    font-size: 14px;
    font-weight: bold;
    color: #e2e2e2;
    padding: 12px;
    background-color: #1d1d1d;
    text-align: center;
}
.verify-code .verify {
    width: 100%;
    position: relative;
}
.verify-code .verify .bg {
    width: 100%;
}
.verify-code .verify .float {
    position: absolute;
    left: 0;
    width: 110px;
    z-index: 1;
    margin-left: -55px;
}
.verify-code .tip {
    font-size: 12px;
    color: #e2e2e2;
    padding: 10px;
    text-align: center;
}

.init-status {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
}
