<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no,address=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>兴盛优选购物</title>
  <style>

  </style>
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/swiper.min.css" rel="stylesheet">
  <script src="./js/jquery.min.js"></script>
  <script>if (typeof module === 'object') { window.jQuery = window.$ = module.exports; };</script>
  <script src="./js/swiper.min.js"></script>
  <script src="./js/vue.min.js"></script>
  <script src="./js/vue-awesome-swiper.js"></script>
</head>

<body>
  <div id="app">
    <div class="header">
      <div class="left">
        <span>兴盛优选购物</span>
      </div>
      <input type="text" placeholder="请输入关键词搜索商品" @input="search">
      <div class="right">
        <div class="menu" @click="nav('https://github.com/ShaoGongBra/xsyx-shop')">关于(github)</div>
        <div class="menu" @click="contentRoutre = 'order'">订单</div>
        <div class="user">
          <img v-if="userInfo.headImgUrl" :src="userInfo.headImgUrl" class="img"
            @mouseover="userShow('head', true, $event)" @mouseout="userShow('head', false, $event)">
          <div v-if="showUserInfo" class="info" @mouseover="userShow('info', true, $event)"
            @mouseout="userShow('info', false, $event)">
            <span class="username">{{userInfo.nickName}}</span>
            <span class="mobile">{{userInfo.mobileNo}}</span>
            <span class="btn" @click="loginOut">切换账号</span>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="cates">
        <div v-for="(item, index) in cates" class="item" :class="{hover: selectCate === index}"
          @click="selectCate = index,getMalls()">{{item.windowName}}</div>
      </div>
      <div class="malls">
        <div class="filter">
          <div class="radio" v-for="(item, index) in filter">
            <div class="item" :class="{hover: option.value === item.value}" v-for="option in item.list"
              @click="filter[index].value = option.value">{{option.name}}</div>
          </div>
        </div>
        <div v-for="item in filterList()" class="mall-item" @click="showMallDetail(item)">
          <img :src="item.adUrl" alt="">
          <div class="right">
            <span class="title">{{item.prName}}</span>
            <span class="num">{{item.tmBuyStart.substr(5, 11)}} - {{item.tmBuyEnd.substr(5, 11)}}</span>
            <span class="num">{{item.number && item.number.daySaleQty}}/{{item.limitQty === 0 ? '不限制' : item.limitQty}}
              {{item.ulimitQty > 0 ? '每人限购:'+item.ulimitQty : ''}}</span>
            <div class="bottom">
              <span class="price">￥{{item.saleAmt}}</span>
              <span class="price-old">￥{{item.marketAmt}}</span>
              <span class="add" @click="addCart(item, 'add', $event)">上车</span>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <goods-detail v-if="contentRoutre === 'goods-detail'" :mall="selectMall" @close="contentRoutre = 'cart'">
        </goods-detail>
        <order v-else-if="contentRoutre === 'order'" @close="contentRoutre = 'cart'"></order>
        <div v-else class="cart">
          <div v-for="time in cart">
            <div class="head">
              <span class="time">{{time.time.substr(5, 11)}}</span>
              <span class="timer">{{time.timer === null ? '已开始' : time.timeText}}</span>
            </div>
            <div v-for="item in time.list" class="mall-item" @click="showMallDetail(item)">
              <img :src="item.adUrl" alt="">
              <div class="right">
                <span class="title">{{item.prName}}</span>
                <span class="num">{{item.tmBuyStart.substr(5, 11)}} - {{item.tmBuyEnd.substr(5, 11)}}</span>
                <span
                  class="num">{{item.number && item.number.daySaleQty}}/{{item.limitQty === 0 ? '不限制' : item.limitQty}}
                  {{item.ulimitQty > 0 ? '每人限购:' + item.ulimitQty : ''}}</span>
                <div class="bottom">
                  <span class="price">￥{{item.saleAmt}}</span>
                  <span class="price-old">￥{{item.marketAmt}}</span>
                  <div class="action">
                    <span class="btn" @click="addCart(item, 'reduce', $event)">减</span>
                    <span class="num">{{item.qty}}</span>
                    <span class="btn" @click="addCart(item, 'add', $event)">加</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="user">
        <div class="info">
          <img v-if="storeInfo.logoUrl" class="img" :src="storeInfo.logoUrl" alt="">
          <div class="right">
            <span class="name">{{storeInfo.storeName}}</span>
            <span class="tel">{{storeInfo.detailAddress}}</span>
          </div>
        </div>
        <div class="setting">
          <div class="price">￥{{totalPrice.toFixed(2)}}</div>
          <div class="btn" @click="submit">提交订单</div>
        </div>
      </div>
    </div>
    <login v-if="showLogin" @input="loginInput"></login>
    <div class="update" v-if="updateInfo.show">
      <div class="title">更新提示</div>
      <p class="name">{{updateInfo.name}}</p>
      <p class="content">{{updateInfo.message}}</p>
      <div class="button">
        <div class="close" @click="updateInfo.show = false">暂不更新</div>
        <div class="open" @click="(updateInfo.show = false,nav(updateInfo.url))">立即更新</div>
      </div>
    </div>
  </div>
  <div class="toast"></div>
</body>
<script>
</script>
<script src="./js/public.js"></script>
<script src="./js/main.js"></script>

</html>